/*? global clearing */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  /* font family */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* color */
  --basic: #fff;
  --dark: #050404;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: inherit;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.mark {
  color: #d41283;
}

/* Nav */

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 0.5px solid #eeeeee;
  background-color: var(--basic);
}

nav a {
  color: var(--dark);
}

nav .logo a {
  display: inline-block;
  padding: 1em 0;
  font-weight: 500;
}

.hamBtn {
  gap: 1em;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.socmed {
  gap: 0.5em;
  justify-content: space-evenly;
}

.navbar {
  width: 250px;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 45px;
  right: 5%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: none;
  background-color: var(--basic);
  transition: all 0.2s ease-in-out;
  border: 0.5px solid #eeeeee;
}

.navbar.show {
  opacity: 1;
  display: flex;
}

.navbar a {
  width: 100%;
  padding: 1em 2em;
  font-weight: 500;
  font-size: 0.9rem;
}

.navbar a:first-child {
  border-radius: 10px 10px 0 0;
}

.navbar a:last-child {
  border-radius: 0 0 10px 10px;
}

.navbar a:hover {
  background-color: #eeeeee;
}

/* End Nav */

/* Jumbotron */

#jumbotron {
  padding: 2em 0;
}

#jumbotron .hotel__address {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  text-align: center;
}

#jumbotron .hotel__address .address {
  line-height: 1.5em;
}

#jumbotron .hotel__address .n {
  display: block;
}

#jumbotron .row a {
  color: #4b4b4b;
  font-size: .9rem;
}

#jumbotron .check__room {
  display: none;
  padding: 1em 2em;
  font-weight: 600;
  background-color: var(--dark);
  border-radius: 8px;
  color: var(--basic) !important;
}

#jumbotron .banner {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-color: pink;
  margin-top: 2em;
}

#jumbotron .banner img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.5);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}

#jumbotron .banner img.scrollAnimate {
  transform: scale(1);
}

#jumbotron .banner .banner__msg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  justify-content: center;
  color: var(--basic);
  text-align: center;
  font-size: .8rem;
  overflow: hidden;
}

#jumbotron .banner .banner__msg h2 {
  transition: .5s ease-in-out;
}

#jumbotron .about {
  padding: 2em 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  align-items: start !important;
}

#jumbotron .about .desc {
  margin-top: 1em;
  text-align: justify;
  color: #4b4b4b;
  font-size: .8rem;
}

#jumbotron .about ul li a {
  padding: 1em 0;
  justify-content: flex-start;
  gap: 1em;
  font-weight: 600;
}

#jumbotron .about ul li:nth-child(even) {
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
}

/* End Jumbotron */

/* Highlightroom */

#highlightroom {
  padding: 2em 0;
}

#highlightroom .row {
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 2em;
  align-items: center;
}

#highlightroom h1 {
  font-size: 3rem;
}

#highlightroom .card__room {
  justify-content: flex-start;
  gap: 1em;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#highlightroom .card__room .card__wrapper {
  flex: 0 0 93%;
  scroll-snap-align: start;
  border: .5px solid #8f8f8f;
  border-radius: 10px;
}

#highlightroom .card__room .card__wrapper .card__head {
  overflow: hidden;
  height: 250px;
  position: relative;
}

#highlightroom .card__room .card__wrapper .card__head img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

#highlightroom .card__content {
  padding: 1em;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: .5em;
  font-size: .9rem;
}

#highlight .card__content p {
  color: #b1b1b1;
  font-weight: 500;
}

#highlightroom .card__price {
  font-style: italic;
  text-align: left;
}

#highlightroom .card__price .not__price {
  text-decoration: line-through;
}

.card__wrapper .compare {
  padding: 1em;
  font-size: .9rem;
}

.card__wrapper .compare .ota {
  display: none;
  margin-bottom: 1em;
}

.card__wrapper .compare .ota.showCompare {
  display: block;
}

.card__wrapper .compare .logo__ota {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--dark);
  border-radius: 8px;
  margin-right: .5em;
  position: relative;
  overflow: hidden;
}

.card__wrapper .compare .logo__ota img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.card__wrapper .compare .ota li {
  margin: .4em 0;
}

.card__wrapper .compare .ota li .percent {
  font-weight: 600;
  color: #d41283;
}

.compare .check__compare {
  gap: .5em;
  grid-template-columns: repeat(auto-fit,minmax(200px,150px));
}

.compareActive {
  display: block;
  padding: 1em 2em;
  font-weight: 600;
  text-align: center;
  background-color: var(--dark);
  border-radius: 8px;
  color: var(--basic) !important;
  margin-top: 1em;
}

.compare .check__compare a {
  display: block;
  padding: 1em 2em;
  font-weight: 600;
  text-align: center;
  background-color: var(--dark);
  border-radius: 8px;
  color: var(--basic) !important;
}

.features {
  margin-top: 3em;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  align-items: start !important;
}

.features .col {
  overflow: hidden;
}

.features .desc {
  margin: .8em 0;
  color: #4b4b4b;
  font-size: .9rem;
}

.features ul {
  margin-top: 1em;
  justify-content: flex-start;
  gap: 1.5em;
  flex-wrap: wrap;
  color: #8f8f8f;
}

.features ul li span {
  margin: .5em 0;
  color: #d41283;
}

.features .partnerSlide {
  overflow: hidden;
  /* gap: 1em; */
  grid-auto-columns: 250px;
  grid-auto-flow: column;
  justify-items: stretch;
  margin-top: 1.5em;
}

.partnerSlide .part {
  animation: infiniteSlide 15s linear infinite;
  filter: grayscale(100%);
  max-width: 80px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

.partnerSlide .part:hover {
  filter: grayscale(0);
}

@keyframes infiniteSlide {
 to {
  translate: calc(-4 * 200px);
 } 
}

#highlightroom .video {
  margin-top: 3em;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

#highlightroom .video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.video .backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: var(--basic);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  gap: .5em;
}

.video .backdrop span {
  font-size: 4em;

}

/* End Highlightroom */

/* Convention Review */

#conventionReview {
  margin-top: 2em;
}

#conventionReview .row{
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 1em;
  margin-top: 1em;
}

#conventionReview .card__meeting {
  border-radius: 8px;
}

#conventionReview .card__meeting:first-child {
  height: 350px;
  background: url(../assets/meeting/camar/camar1.jpg) no-repeat center;
  background-size: cover;
}

#conventionReview .card__meeting:last-child {
  height: 350px;
  background: url(../assets/meeting/camar/camar4.jpg) no-repeat center;
  background-size: cover;
}

.card__meeting a {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: var(--basic);
  align-items: flex-end;
  border-radius: 8px;
}

.card__meeting a figcaption {
  padding: 1em;
}

.other__convention {
  display: block;
  margin: 2em 0;
  text-align: center;
  color: var(--dark);
}

/* End Convention Review */

/* Footer */

footer {
  background-color: #f3f3f3;
  padding-top: 3em;
  font-size: .9rem;
}

footer .row {
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 1em;
}

footer a {
  color: var(--dark);
}

footer .hotel__address {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  text-align: center;
}

footer .hotel__address .address {
  line-height: 1.5em;
}

footer ul li a {
  display: block;
  padding: .5em 0;
}

footer .author {
  margin-top: 2em;
  padding: 1em 0;
  border-top: 1px solid #b1b1b1;
  text-align: center;
  flex-wrap: wrap;
}

/* End Footer */